<% if @item %>
<%= link_to 'Edit', :action => 'edit', :id => @item %> |
<%= link_to 'XML_Export', :controller => 'xml_export', :action => 'show', :format => 'xml', :id => @item %> |
<%= link_to 'New Child', :action => 'new', :parent_id => @item %> |
<%= link_to 'Destroy', { :action => 'destroy', :id => @item }, :confirm => 'Are you sure?', :method => :post %>
  <h2>Selected Item is:</h2> 
 <%= @root=@item
@show=true
render :partial=>"nodes/show", :object=>[@item,@items,@root,@show] %>

<% else %>
  Item not found
<% end %>
